body {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    color: #2d3c49;
}

hr {
    border: 2px solid #7d97ad;
}
h4 {
    margin-bottom: 0;
}

/* rules for top panel*/

@media screen and (min-width:580px)  {
    .always-float .col-md-6 {
        float:left;
        width: 50%;
    }
}

@media screen and (max-width:579px)  {
    .always-float .col-md-6 {
        text-align: left;
    }
}

/* rules for images */

.logo {
    height: 80px;
    width: 80px;
    margin: 10px 0 0 0;
    display: inline-block;
}
img {
    width:100%;
}

/* rules for text */

.text-muted {
    color: #7d97ad;
}
.text-thin {
    font-weight: 100;
}
.text-bold {
    font-weight: 400;
}
.title-super {
    font-size: 60px;
}
.extra-margin-top {
    margin-top: 30px;
}
